.status-bar {
	display: flex;
	align-items: center;
	padding: 40px;
}
.status-bar div {
	clear: right;
}
.title {
	font-family: "rabbit";
	font-size: 10em;
	color: white;
}
.desc {
	font-family: "rabbit";
	font-size: 2em;
	color: white;
}
.card {
	padding: 30px;
}
.card-title {
	font-size: 4em;
	color: white;
	padding-bottom: 5px;
	font-family: "rabbit";
	transition: font-size 400ms;
	transition-timing-function: ease-out;
}
.card-title:hover {
	font-size: 5em;
}
.card-desc {
	font-size:2em;
	color: white;
	font-family: "rabbit";
}
.card-row {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.card-row .card {
	display: table-cell;
}
a.orange {
	color: orange;
}