.status-bar {
  display: flex;
  align-items: center;
  padding: 40px;
}
.status-bar div {
  clear: right;
}
.title {
  font-family: "rabbit";
  font-size: calc( 8vw + 1em );
  color: white;
}
.heart {
  font-family: "rabbit";
  font-size: calc(0.25vw + 1em);
  color: orange;
}
.desc {
  font-family: "rabbit";
  font-size: calc( 1.5vw + 1em );
  color: white;
}
.card {
  padding: 30px;
}
.card-title {
  position: absolute;
  font-size: calc(1.75em + 2vw);
  color: white;
  padding-bottom: 5px;
  font-family: "rabbit";
  transition: font-size 400ms;
  transition-timing-function: ease-out;
}
.card-desc {
  padding-top: calc(1em + 2vw);
  font-size: calc(1em + 1.25vw);
  color: white;
  font-family: "rabbit";
}
.card-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.card-row .card {
  display: table-cell;
}
@media screen and (max-width: 700px) {
  .card {
    display: block !important;
  }
  .card-desc {
    padding-top: calc(1em + 3.25vw);
  }
}
a.orange {
  color: orange;
  transition: color, background 250ms;
  transition-timing-funciton: cubic-bezier;
}
a.orange:hover {
  color: black;
  background: orange;
  opacity: 0.75;
  text-decoration-line: none;
}