.bubble {
	border-radius: 500px;
	display: inline-block;
	font-family: monospace, monospace;
	font-size: calc( 1vw + 0.4em );
	padding: 10px;
	transition: padding 200ms;
	transition: timing-function: ease-out;
}
.bubble-title:hover, .bubble-comment:hover, .bubble-void:hover, .bubble-fill:hover {
	padding: 20px;
}
.bubble-title {
	font-size: calc(2vw + 1em);
}
.bubble-comment {
	font-size: calc(2vw + 0.5em);
	margin-bottom: 10px;
}
.bubble-spacer {
	color: white;
}
.bubble-void {
	border: solid black 2px;
	color: black;
	background: white;
}
.bubble-fill {
	color: white;
	padding: 10px;
	background: black;
}
.github-bubble {
	width: 3em;
	height: 3em;
	margin-right: 20px;
	border-radius: 50%;
}
ul {
	list-style-type: none;
}
.container {
	margin-left: 10px;
	margin-top: 100px;
}
li.recent-commit {
	margin-left: calc( 3.5vw + 5px );
	white-space: nowrap;
}