@font-face {
	font-family: "rabbit";
	src: url("font/whitrabt.woff");
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	background: black;
}
.slides {
	width: 100%;
	height: 100%;
	margin:0; 
	padding:0; 
	white-space: nowrap;
}
.slide {
	height: 100%;
	width: 100%;

	display: inline-block;
	vertical-align: top;
}
#s1 {
	background: url("img/grid.png") repeat;
}
#s2 {
	background: #fff;
	overflow-y: hidden;
}
.status-bar {
	display: flex;
	align-items: center;
	padding: 40px;
}
.status-bar div {
	clear: right;
}
.title {
	font-family: "rabbit";
	font-size: 10em;
	color: white;
}
.desc {
	font-family: "rabbit";
	font-size: 2em;
	color: white;
}
.github {
	width: 11em;
	height: 11em;
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}
.card {
	padding: 30px;
}
.card-title {
	font-size: 4em;
	color: white;
	padding-bottom: 5px;
	font-family: "rabbit";
	transition: font-size 500ms;
	transition-timing-function: ease-in-out;
}
.card-title:hover {
	font-size: 5em;
}
.card-desc {
	font-size:2em;
	color: white;
	font-family: "rabbit";
}