@font-face {
	font-family: "rabbit";
	src: url("font/whitrabt.woff");
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	background: black;
}
a {
	color: black;
}
.slides {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.slide {
	height: 100%;
	width: 100%;

	display: inline-block;
	vertical-align: top;
}
#s1 {
	background: url("img/grid.png") repeat;
}
#s2 {
	background: #fff;
	overflow-y: hidden;
}
.github {
	width: calc( 8vw + 2em );
	height: calc( 8vw + 2em );
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}